.carousel {
  position: relative;
  width: 500px;
  height: 350px;
  margin: 150px 650px;
}

.content:first-child{
 display: block;
}
.content {
  width: 100%;
  height: 100%;
  display: none;
}

#prev, #next {
  position: absolute;
  top: 40%;
  font-size: 20px;
  background: black;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

#prev { 
 left: 10px; 
}
#next {
 right: 10px; 
 }
